
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>
@using (Html.BeginForm("index2", "test", FormMethod.Get))
{

    <input type="text" name="Name" id="Name">
    <input type="submit"value="submit" onclick="DO"/>
}
<script>
    function Do{
        var x =document.getElementById("Name").value;
         
            @Session["Name"]=x;
        
    }
</script>